
input[type=text], input[type=password] {
  width: 20%;
  padding: 10px;
  margin: 3px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  }
.loginbtn {
  background-color: #f1f1f1;
  color: black;
  padding: 10px 10px;
  margin: 5px 0;
  border-radius:3px;
  font-family: "Times New Roman";
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
}

.login:hover {
  opacity: 1;
}

input{
	width:100%;
	}
	
	
.nav {
10px;
450px;
height: 40px;
width: 400px;
padding: 10px;
color: white;
background-color:black;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
rgba(0, 0, 0, 0.19);
}	
	

.maindiv{
	margin-left:35%;
	margin-top:2%;
	
}

